.ML {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.407);

}

.ML_container {
    background-color: #fff;
    height: 200px;
    width: 400px;
    border-radius: 12px;
    
    padding: 32px;
    

}

.ML_desc {
    font-size: 2em;
    margin-bottom: 24px;

}

.ML_btn {
    font-size: 1em;
    margin: 8px;
}
