*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

.night-mode {
  background-color: rgb(108, 108, 108);
  /* Bạn có thể thêm các thuộc tính khác nếu cần */
}
